<!DOCTYPE html>
<meta charset="utf-8">
<html ng-app="BusinessModelCanvas">
<head>
    <title>商业模式全景</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="libs/jquery-ui-1.10.0.custom.css">
        <link rel="stylesheet" href="libs/bootstrap.min.css">
        <link rel="stylesheet" href="libs/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="libs/jquery.minicolors.css">
        <link rel="stylesheet" href="libs/colorPicker.min.css">

        <link rel="stylesheet" href="libs/jquery.postitall.css">
        <link rel="stylesheet" href="libs/main.css">

        <link rel="stylesheet" href="css/integralui.menu.css" />
        <link rel="stylesheet" href="css/themes/theme-flat-light.css" />

</head>

<body ng-controller="RootController">

<div class="container">
    <div class="row">
        <div class="col-md-4 title">

            <div class='row'>商业模式全景</div>
            <div class='row'>
                <p>
                    <button ng-click="snapShot()">存新版</button>
                    <button ng-click="clearAll()">重置</button>
                    <iui-menu name="{{menuName}}" items="menuData" item-click='loadItem(e)' displayMode="vertical" item-icon="defaultIcon">
                    </iui-menu>
                    <div style="clear: both;height:80px;"></div>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table table-bordered canvas-table">
            <tbody>
            <tr ng-repeat="row in tableLayout">
                <td ng-repeat="cell in row"
                    ng-controller="SectionController"
                    class="canvas-cell"
                    id = "{{cell.key}}"
                    ng-class="{'tall-cell':  cell.rowspan == 2,
                               'short-cell': cell.rowspan == 1}"
                    rowspan="{{cell.rowspan}}"
                    colspan="{{cell.colspan}}" ng-dblclick="addPostIt($event)">
                    <div class="table-cell">
                        <span class="canvas-cell-image glyphicon"
                              ng-class="'glyphicon-' + cell.icon"></span>
                        <span>{{cell.title}}</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="libs/jquery-1.9.1.min.js"></script>
<script src="libs/jquery-ui-1.10.1.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/jquery.minicolors.js"></script>
<script src="libs/colorPicker.min.js"></script>

<script src="libs/jquery.postitall.js"></script>

<script src="angular.js" type="text/javascript"></script>
<script src="angular-touch.js" type="text/javascript"></script>
<script src="angular-local-storage.js" type="text/javascript"></script>
<script src="ui-utils.js" type="text/javascript"></script>
<script src="libs/main.js"></script>
<script src="code.js" type="text/javascript"></script>
 
<script type="text/javascript" src="js/angular.integralui.min.js"></script>
<script type="text/javascript" src="js/angular.integralui.menu.min.js"></script>


</body>
</html>